/* CONTAINERS */

body {
	margin: 0 auto;
}

#wrapper{
	width: 900px;
	height: 100%;
	border: 2px solid grey;
	margin: 0 auto;
	overflow: none;
	margin-top: 30px;
}


/* HEADER */

#header{
	height: 130px;
	width: 100%;
	background-color: #ffffff;
	border-top: 20px solid #FF6600;
}

#header .logo{
	width: 150px;
	height: 85px;
	border: 2px solid grey;
	float: left;
	margin: 22px;
}



/* NAV */

#nav{
	background-color: #FF6600;
	height: 60px;
	display: block;
	font-size: 30px;
	text-align: center;
	clear: both;
	line-height: 50px;
}


/* MAIN BODY */

#main-body{
min-height: 500px;
padding: 30px;
display: block;
overflow: none;
}

#main-body .search{
padding: 10px;
width: 300px;
margin: 0 auto;
border: 2px solid grey;
margin-bottom: 50px;

}

#main-body .search-box{
display: inline-block; 
width: 180px;

}

#main-body .search-button{
display: inline-block; 

}

#main-body .map{
margin:30px;
width: 500px;
height: 300px;
margin: 0 auto;
border: 2px solid grey;
}

#footer{
height: 20px;
background-color: #FF6600;
}




